.about {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
    background-color: var(--raisin-black);
    padding: 40px 0; 

    @media screen and (max-width: 768px) {
        padding: 30px 20px; 
    }

    @media screen and (max-width: 480px) {
        padding: 25px 5px; 
    }

    .about-wrapper {
        flex: 1;
        display: flex; 
        max-width: 1200px; 
        margin: 40px; 
        padding: 30px; 
    
        @media screen and (max-width: 768px) {
            flex-direction: column; 
            margin: 20px; 
        }

        @media screen and (max-width: 480px) {
            margin: 15px; 
            padding: 25px 10px; 
        }
    
        .about-left {
            flex: 1; 
            display: flex; 
            justify-content: center; 
            align-items: center; 
            flex-direction: column; 
    
            img {
                height: auto; 
                width: 100%; 
                object-fit: cover; 
                border-radius: 10px; 
    
                @media screen and (max-width: 768px) {
                    width: auto; 
                    height: 300px; 
                }
    
                @media screen and (max-width: 480px) {
                    height: 250px; 
                }
            }
        }
    
        .about-right {
            color: var(--alice-blue); 
            flex: 1; 
            display: flex; 
            justify-content: center; 
            flex-direction: column;    
            margin: 40px; 
    
            @media screen and  (max-width: 768px) {
                margin: 20px 0px; 
            }
    
            .about-title {
                h3 {
                    font-size: 26px; 
                    font-weight: bold; 

                    span {
                        color: var(--bottle-green); 
                    }

                    @media screen and (max-width: 786px) {
                        font-size: 22px; 
                    }
                }
            }
    
            .about-description {
                p {
                    line-height: 30px; 
                    margin: 20px 0;
    
                    @media screen and (max-width: 768px) {
                        font-size: 14px; 
                    }
                }
            }

            .about-skills {
                ul {
                    display: flex; 
                    align-items: center; 
                    justify-content: center; 
                    flex-wrap: wrap; 
                    gap: 30px; 

                    img {
                        height: 40px; 
                        width: 40px; 
                        object-fit: fit; 
                    }

                    @media screen and (max-width: 768px) {
                        gap: 25px; 
                    }
                }
            }
        }
    }
}