.navbar {
    width: 100%; 
    height: 50px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    position: fixed; 
    z-index: 3; 
    background-color: var(--rich-black); 
    color: var(--alice-blue); 
    padding: 0 40px; 
    transition: all 1s ease; 

    @media screen and(max-width: 768px) {
        padding: 0 50px; 
    }

    .navbar-left {
        display: flex; 
        align-items: center; 

        .logo {
            font-size: 30px; 
            font-weight: 600; 
            text-decoration: none; 
            color: inherit; 
            margin-right: 40px; 
        }
    }

    .navbar-right {

        .navbar-links {
            display: flex; 
            align-items: center; 
            justify-content: flex-end; 
            list-style: none; 

            li {
                margin: 0 15px; 
                cursor: pointer; 

                a {
                    color: inherit; 
                    text-decoration: none; 
                    transition: all 0.3s ease; 

                    &:hover {
                        font-weight: 700; 
                        color: var(--han-purple); 
                    }
                }
            }

            @media screen and(max-width: 768px) {
                display: none; 
            }
        }

        .hamburger {
            display: flex; 
            flex-direction: column; 
            justify-content: space-between; 
            width: 25px; 
            height: 20px; 
            cursor: pointer; 

            span {
                width: 100%; 
                height: 3px; 
                background-color: var(--alice-blue); 
                transform-origin: left; 
                transition: all 0.7s ease; 
            }

            @media screen and(min-width: 768.9px) {
                display: none; 
            }
        }
    }

    &.active {
        background-color: var(--prussian-blue); 
        color: var(--alice-blue); 

        .hamburger {

            span {
                &:first-child {
                    background-color: var(--alice-blue); 
                    transform: rotate(45deg); 
                }

                &:nth-child(2) {
                    opacity: 0; // hide color
                }

                &:last-child {
                    background-color: var(--alice-blue); 
                    transform: rotate(-45deg); 
                }
            }
        }
    }
}