.about {
    background-color: var(--rich-black); 

    .about__wrapper {
        max-width: 1200px; 
        height: 100%; 
        margin: 0 auto; 

        .about__main {
            display: flex; 
            flex-direction: column; 
            justify-content: center; 
            align-items: center; 
            max-width: 590px; 
            margin: auto; 


            .about__title {
                margin: 40px; 
            
                h3 {
                    color: #fff; 
                    font-size: 40px; 
                    font-weight: bold; 
            
                    span {
                        color: var(--bottle-green); 
                    }
                }
            }
            
            .about__img {
                max-height: 450px; 
                display: flex; 
                justify-content: center; 
            
                img {
                    width: 50%; 
                    height: 50%; 
                    object-fit: cover; 
                }
            }
            
            .about__story {
                background-color: #fff; 
                margin: 40px 0; 
                padding: 25px; 
            
                p {
                    font-size: 14px; 
                    color: #393939;  
                    margin-bottom: 15px;        
                }
            }
            
            .about__skills {
                margin-bottom: 40px;
            
                ul {
                    display: flex; 
                    align-items: center; 
                    justify-content: center; 
                    flex-wrap: wrap; 
                    gap: 30px; 
            
                    img {
                        height: 40px; 
                        width: 40px; 
                        object-fit: fit; 
                    }
            
                    @media screen and (max-width: 768px) {
                        gap: 25px; 
                    }
                }
            }
        }
    }
}