.contact {
    background-color: var(--alice-blue); 

    .contact__wrapper {
        max-width: 1200px; 
        height: 100%; 
        margin: 30px auto; 

        .contact__main {
            display: flex; 
            flex-direction: column; 
            justify-content: center; 
            align-items: center; 
            max-width: 590px; 
            margin: auto; 

            .contact__title {
                h1 {
                    color: var(--raisin-black); 
                    font-size: 38px; 
                    margin: 10px 0; 

                    span {
                        color: var(--bottle-green); 
                    }
                }
            }

            .contact__intro {
                width: 75%; 
                color: var(--raisin-black); 
                display: flex; 
                flex-direction: column; 
                justify-content: center; 
                align-items: center; 

                p {
                    color: var(--cadet-blue-crayola); 
                    text-align: center; 
                    margin: 20px 0;
                    font-size: 18px; 

                    @media screen and (max-width: 768px) {
                        font-size: 16px; 
                    }
                    
                    @media screen and (max-width: 480px) {
                        font-size: 14px; 
                    }
                }

                .cta {
                    margin: 20px 0; 
                    border: 1px solid var(--bottle-green); 
                    border-radius: 55px; 
                    padding: 15px 25px; 
                    background-color: var(--raisin-black); 
                    color: var(--alice-blue); 
                    text-transform: uppercase; 
                    cursor: pointer; 
                    text-decoration: none; 
                    
                    @media screen and (max-width: 768px) {
                        margin: 15px 0; 
                        padding: 10px 20px; 
                        font-size: 14px; 
                    }
                    
                    @media screen and (max-width: 480px) {
                        font-size: 12px; 
                        margin: 10px 0;
                    }
                }
            }
        }
    }
}