.footer {
  bottom: 0; 
  height: 50px; 
  width: 100%; 
}

.footer__wrapper {
  max-width: 768px; 
  margin: 0 auto; 
  width: 100%; 
  height: 100%; 
  background-color: var(--rich-black); 
}

.footer__main {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  height: 100%; 
}

.footer__copyright p {
  color: #777; 
  font-family: inherit; 
  font-size: 11px; 
}

.footer__social__icons ul {
  display: flex; 
  justify-content: space-between; 
  gap: 20px; 
}

.footer__social__icons li {
  list-style: none; 
}

.footer__social__icons a img {
  width: 25px; 
  height: 25px; 
  object-fit: contain; 
  cursor: pointer; 
}

@media screen and (max-width: 1024px) {
  .footer__wrapper {
    padding: 0 20px; 
  }
}