.footer {
    background-color: var(--rich-black); 
    
    .footer__wrapper {
        max-width: 1200px; 
        height: 100%; 
        width: 100%; 
        padding: 25px; 

        .footer__title {
            
            h1 {
                color: var(--alice-blue); 
                font-size: 34px; 

                span {
                    color: var(--bottle-green); 
                }

                @media screen and (max-width: 768px) {
                    font-size: 30px; 
                }
                
                @media screen and (max-width: 480px) {
                    font-size: 20px; 
                }
            }
        }

        .f__socials {
            
            ul {

                li {
                    padding: 10px 0; 
                    
                    a {
                        color: #fff; 
                        
                        svg {
                            height: 20px; 
                            width: 20px; 
                        }
                    }
                }
            }
        }

        .footer__mr {
            p {
                font-size: 10px; 
                color: var(--cadet-blue-crayola); 
            }
        }
    }
}