.footer {
    height: 50px; 
    width: 100%; 
    background-color: var(--raisin-black); 

    .footer__wrapper {
        max-width: 1200px; 
        height: 100%; 
        width: 100%; 
        margin: 0 auto; 

        // .footer__head {
        //     color: var(--alice-blue); 
            
        //     h1 {
        //         font-size: 30px; 

        //         span {
        //             color: var(--bottle-green)
        //         }
        //     }
        // }

        .footer__main {
            display: flex; 
            justify-content: space-around; 
            align-items: center; 
            height: 100%; 

            .footer__copyright {
                color: #777; 

                p {
                    font-size: 11px; 
                }
            }

            .footer__social__icons {
                ul {
                    display: flex; 
                    justify-content: space-between; 
                    gap: 20px; 

                    li {
                        list-style: none; 
                        a {
                            img {
                                color: var(--alice-blue); 
                                width: 25px; 
                                height: 25px; 
                                cursor: pointer; 
                            }
                        }


                    }
                }
                
            }
        }
    }
}