.projectList {
  height: 100%;
  width: 100%;
}

.projectList__wrapper {
  max-width: 768px;
  margin: 0 auto;
}

.projectList__btn {
  margin-bottom: 40px;
}

.projectList__navigation {
  margin: 25px 0;
}