.hero {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
    background-color: var(--rich-black); 
    padding: 0 130px; 

    @media screen and(max-width: 1078px) {
        padding: 0 110px; 
    }

    @media screen and(max-width: 768px) {
        padding: 0 80px; 
    }

    @media screen and(max-width: 480px) {
        padding: 0 40px; 
    }
    
    .hero-wrapper {
        display: flex; 
        justify-content: center; 
        align-items: center; 
        flex-direction: column; 
        
        .hero-headline {
            color: var(--alice-blue); 
            font-family: "Kaisei Opti", sans-serif; 
            
            h1 {
                font-family: inherit; 
                font-size: 70px; 
                font-weight: 400; 
                background-image: linear-gradient(to left, #d53369, #cbad6d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                margin: 10px 0; 
                text-align: center; 
                
                span {
                    font-family: inherit; 
                    
                    &:first-child {
                        color: var(--bottle-green); 
                    }

                    &:last-child {
                        display: block; 
                        background-image: linear-gradient(to left, #d53369, #cbad6d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                }

                @media screen and(max-width: 1024px) {
                    font-size: 55px; 
                }
                
                @media screen and(max-width: 768px) {
                    font-size: 40px; 
                }
                
                @media screen and (max-width: 480px) {
                font-size: 30px; 
                }
            }
        }

        .hero-introduction {
            width: 75%; 
            color: var(--alice-blue); 
            
            p {
                color: inherit; 
                font-size: 18px; 
                letter-spacing: 0.5px; 
                margin: 10px 0; 
                text-align: center; 
        
                @media screen and(max-width: 768px) {
                    font-size: 16px; 
                }
                
                @media screen and(max-width: 480px) {
                    font-size: 14px; 
                }
            }
        
            @media screen and(max-width: 768px) {
                width: 100%; 
            }
        }
    }
    
    .hero-btn {
        display: flex; 
        justify-content: center; 
        align-items: center; 
        gap: 15px; 

        .btn {
            margin: 20px 0; 
            background: linear-gradient(to left, #348f50, #56b4d3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            border-radius: 55px; 
            padding: 15px 20px; 
            color: var(--alice-blue); 
            cursor: pointer; 
            text-decoration: none; 
            font-weight: 700; 

            @media screen and(max-width: 768px) {
                margin: 15px 0; 
                padding: 10px 15px; 
                font-size: 14px; 
            }

            @media screen and(max-width: 480px) {
                font-size: 12px; 
                margin: 10px 0; 
            }
        }
    }
}