.hero {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
    background-color: var(--mainblack); 
    padding: 0 40px; 

    .hero-wrapper {
        display: flex; 
        justify-content: center; 
        align-items: center; 
        flex-direction: column; 
        
        img {
            width: 150px; 
            height: 190px; 
            object-fit: fit; 
            border-radius: 50%; 
        }
        
        .hero-headline {
            color: var(--superwhite); 
            
            p {
                font-size: 24px; 
                font-weight: 400; 
                color: inherit; 
                margin: 10px 0; 
                text-align: center; 
                
                @media screen and(max-width: 768px) {
                    font-size: 24px; 
                }
                
                @media screen and (max-width: 480px) {
                    font-size: 20px; 
                }
            }
            
            h2 {
                font-size: 50px; 
                font-weight: 400; 
                color: var(--superwhite); 
                margin: 10px 0; 
                
                span {
                    color: var(--brand); 
                }
                
                @media screen and(max-width: 768px) {
                    font-size: 30px; 
                }
                
                @media screen and (max-width: 480px) {
                font-size: 26px; 
                }
            }
        }

        .hero-introduction {
            width: 50%; 
            color: var(--supergray); 
            
            p {
                color: inherit; 
                font-size: 18px; 
                letter-spacing: 0.5px; 
                margin: 10px 0; 
                text-align: center; 
        
                @media screen and(max-width: 768px) {
                    font-size: 16px; 
                }
                
                @media screen and(max-width: 480px) {
                    font-size: 14px; 
                }
            }
        
            @media screen and(max-width: 768px) {
                width: 80%; 
            }
        
            @media screen and(max-width: 480px) {
                width: 100%; 
            }
        }

        .btn {
            color: var(--superwhite); 
            margin-top: 20px; 
            border-radius: 55px; 
            border: 1px solid var(--brand); 
            text-transform: lowercase; 
            cursor: pointer; 
            padding: 15px 25px; 
            text-decoration: none; 
        
            @media screen and(max-width: 480px) {
                font-size: 14px; 
            }
        }
    }
}