.hero {
    height: calc(100vh - 50px); 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
    background-color: var(--rich-black); 
    padding: 0 130px; 

    @media screen and(max-width: 1078px) {
        padding: 0 100px; 
    }

    @media screen and(max-width: 768px) {
        padding: 0 50px; 
    }

    @media screen and(max-width: 480px) {
        padding: 0 20px; 
    }
    
    .hero-wrapper {
        display: flex; 
        justify-content: center; 
        align-items: center; 
        flex-direction: column; 
        
        .hero-headline {
            color: var(--alice-blue); 
            font-family: "Kaisei Opti", sans-serif; 
            
            h1 {
                font-family: inherit; 
                font-size: 70px; 
                font-weight: 400; 
                margin: 10px 0; 
                text-align: center; 
                
                span {
                    font-family: inherit; 
                    
                    &:first-child {
                        color: var(--bottle-green); 
                    }

                    &:nth-child(2) {
                        display: block; 
                    }

                    &:nth-child(3) {
                        color: var(--bottle-green); 
                    }
                }

                @media screen and(max-width: 1024px) {
                    font-size: 56px; 
                }
                
                @media screen and(max-width: 768px) {
                    font-size: 36px; 
                }
                
                @media screen and (max-width: 480px) {
                    font-size: 30px; 
                }
            }
        }

        .hero-introduction {
            width: 75%; 
            color: var(--alice-blue); 
            
            p {
                color: inherit; 
                font-size: 18px; 
                letter-spacing: 0.5px; 
                margin: 10px 0; 
                text-align: center; 
        
                @media screen and(max-width: 768px) {
                    font-size: 16px; 
                }
                
                @media screen and(max-width: 480px) {
                    font-size: 14px; 
                }
            }
        
            @media screen and(max-width: 768px) {
                width: 80%; 
            }

            @media screen and(max-width: 480px) {
                width: 85%; 
            }
        }
    
    
        .hero-btn {
            display: flex; 
            justify-content: center; 
            align-items: center; 
            gap: 15px; 

            .btn {
                margin: 20px 0; 
                border: 1px solid var(--bottle-green); 
                border-radius: 55px; 
                padding: 15px 20px; 
                color: var(--alice-blue); 
                cursor: pointer; 
                text-decoration: none; 
                font-weight: 700; 

                @media screen and(max-width: 768px) {
                    margin: 15px 0; 
                    padding: 10px 15px; 
                    font-size: 14px; 
                }

                @media screen and(max-width: 480px) {
                    font-size: 12px; 
                    margin: 10px 0; 
                }
            }
        }

        .hero-laptop {
            display: flex; 
            justify-content: center; 
            align-items: center; 

            img {
                height: auto; 
                width: 1024px; 

                @media screen and(max-width: 1024px) {
                    width: 700px
                }

                @media screen and(max-width: 768px) {
                    width: 500px; 
                }

                @media screen and(max-width: 480px) {
                    width: 300px; 
                }
            }
        }
    }
}